@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 226, 210);
    font-family: 'Caladea', serif;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 240px;
    height: 600px;
    width: 1000px;
    background-color: #f6ae94;
    display: flex;
    border-radius: 30px;
    margin-bottom: 280px;
}

.result-wrapper {
    margin: 20px 20px 20px auto;
    background-color: #f6ae94;
    justify-content: center;
    position: relative;
}

.result-wrapper img {
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: #f6ae94;
    text-align: center;
}

.result-wrapper h1 {
    background-color: rgba(255, 255, 255, 0); 
    margin-top: 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 78px;
    font-weight: bold;
    color: black;
    text-shadow: 1px 2px 3px #f6ae94;
    color: #ff6128;
}

.form-wrapper {
    margin: 20px 20px;
    background-color: #f6ae94;
    width: 580px;
}

.form-wrapper input {
    background-color: blanchedalmond;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 20px 0px 0px 120px;
    font-size: 20px;
    border: none;
}

.form-wrapper input:hover {
    background-color: rgb(253, 214, 155);
    padding: 10px 20px;
    border-radius: 25px;
    margin: 20px 0px 0px 120px;
    font-size: 20px;
    border: none;
}

.form-wrapper button {
    background-color: #f57749;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 80px;
    margin: 20px 0px 0px 35%;
    font-weight: bolder;
    border-color: #f57749;
    border-width: 5px;
}

.form-wrapper button:hover {
    background-color: #fe632b;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 80px;
    margin: 20px 0px 0px 35%;
    font-weight: bolder;
    border-color: #f74e11;
}


.title {
    font-family: 'Rock Salt', cursive;
    background-color: rgba(255, 255, 255, 0); 
    text-align: center;
    margin-top: 90px;
    font-size: 50px;
    text-shadow: 1px 2px 3px #ff7746;
}